@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro');
:root {
    --theme: #000;
    --font: 'Source Sans Pro';
}
/* Scrollbars */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}
/* Code Mirror Styles */
.CodeMirror {
    font-size: 14px;
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro';
}
/* Main Part */
.studio {
    font-family: var(--font);
    overflow: hidden;
}
/* Top Bar Section */
.bar {
    height: 60px;
    background: var(--theme);
    border-bottom: solid 5px #333;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.bar .buttons {
    width: 50vw;
    min-width: 540px;
    display: flex;
    font-family: inherit;
}
.bar .buttons button {
    flex: auto;
    display: inline-block;
/*     float: right; */
    margin-left: 3px;;
    margin-right: 3px;
    background: transparent;
    border: solid 2px #333;
    border-radius: 2px;
    color: #fff;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    font-size: 15px;
    font-family: inherit;
}
.bar button.view, .bar button.settings {
    padding-left: 10px;
    padding-right: 10px;
    background: #333;
}
.bar button.save, .bar button.fork {
    
}
.bar .image {
    width: 44px;
    height: 44px;
    margin-top: 7px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 3px;
}
/* Top Bar Left Side */
.bar .title {
    padding: 9px;
}
.bar .title .top {
    font-size: 19px;
}
.bar .title .bot {
    font-size: 14px;
}
.bar .bot span:first-child {
    color: #999;
    letter-spacing: 1px;
}
/* Editor Wrapper Styles */
.editor {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
#html {
    border-right: solid 1px #777;
}
#css {
    border-left: solid 20px #333;
    border-right: solid 1px #777;
}
#js {
    border-left: solid 20px #333;
}
/* The Wrapper for the editor wrappers */
.control-room {
    height: calc(50vh - 63px);
    background: #eee;
    border-top: solid 1px #000;
    border-bottom: solid 10px #333;
    overflow: hidden;
    position: relative;
}
/* Live Preview Wrapper */
.live-room {
    height: calc(50vh - 63px);
    background: #fff;
    border-top: solid 10px #333;
    position: relative;
}
/* Iframe Live Preview */
.live-room iframe {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
/* Bottom Bar */
.bottom-bar {
    height: 40px;
    background: #333;
    display: flex;
    justify-content: space-between;
}
.bottom-bar button {
    background: #111;
    color: #fff;
    font-size: 11px;
    border: hidden;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
}
/* Left Side  */
.bottom-bar .left-side {
    display: flex;
    align-items: center;
}
/* Right Side */
.bottom-bar .right-side {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h5 {
    display: inline-block;
    color: #777;
    font-weight: 300;
}
.bottom-bar .right-side button, h5 {
    
}